.About{
    text-align: left;
    font-style: oblique;
    
}
.Header{
    padding-top: 20px;
    text-align: center;
}
.Text{
    background-color: lightblue;
    display: grid;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin:5% 20%;
}

p{
    margin:15px 10px;
}
ul{
 
    margin-bottom: 20px;
}
ul li{
    list-style-type: none;
    padding-left: 45px;
    padding-top: 5px;
    text-align: justify;
    
}
