.EntryForm {
  background-color: springgreen;
 
  margin-left: 5%;
  text-align: center;
}
.InputText {
  background-color: rgb(147, 197, 172);
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid black;
  border-radius: 3px;
}
